# --- Dependencies (Chặn thư viện tải về) ---
node_modules/
*/node_modules/

# --- Build Output (Chặn file đã build) ---
dist/
*/dist/
build/
*/build/

# --- IDE & System Files (Chặn file cấu hình của máy cá nhân) ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Testing ---
/coverage
*/coverage

# --- NestJS specific ---
*.tsbuildinfo

# --- Vue/Vite specific ---
*.local